*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul {
    display: grid;
    grid-gap: 1rem;

    /* Partially responsive fallback */
    grid-template-columns: repeat(auto-fill, minmax(calc(10% + 7.5rem), 1fr));

    /* Fully responsive version */


    list-style: none;
    padding: 0;
}

ul > * {
    text-align: center;
    height: 25rem;
    border: 1px solid;
    word-wrap: break-word;
}
.card {
    margin-left: 10px;
    margin-right: 10px;
}


